.mediaViewInfo {
	--web-view-name: Artboard – 1;
	--web-view-id: Artboard___1;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard___1 {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 1440px;
	height: 900px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Artboard – 1;
	--web-view-id: Artboard___1;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
#BAM_BAM_BAM {
	position: absolute;
	left: 288px;
	top: 104px;
	overflow: visible;
	width: 866px;
	height: 111px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(14,91,168,1);
}
#Look_who_s_here_ {
	position: absolute;
	left: 288px;
	top: 215px;
	overflow: visible;
	width: 866px;
	height: 66px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(14,91,168,1);
}
#But_sad_thing__this_site_is_st {
	position: absolute;
	left: 288px;
	top: 687px;
	overflow: visible;
	width: 866px;
	height: 104px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(14,91,168,1);
}
#Group_7 {
	position: absolute;
	width: 142.56px;
	height: 202.752px;
	left: 649px;
	top: 372px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 35.64px;
	height: 35.64px;
	left: 83.16px;
	top: 50.124px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 35.64px;
	height: 35.64px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 35.64px;
	height: 35.64px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_4 {
	position: absolute;
	width: 142.56px;
	height: 202.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_3 {
	position: absolute;
	width: 142.56px;
	height: 202.752px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 142.56px;
	height: 202.752px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_6 {
	position: absolute;
	width: 35.64px;
	height: 35.64px;
	left: 23.76px;
	top: 50.124px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 35.64px;
	height: 35.64px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 35.64px;
	height: 35.64px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}